{% extends 'layout.html' %}

{% block content %}
    <div class="logo">
        <h1><img src="../static/img/omnidb_logo_small.png"></h1>
    </div>
    <div class="search">
        <form class="search" method="get" action=".." onsubmit="">
            <input class="search-bar" type="text" name="search" size="28" id="" autocomplete="off" placeholder="Search...">
        </form>
    </div>
    <div class="dropdown-menu">
        <a href="#">Database <i class="fa fa-caret-down"></i></a>
        <a href="#">Tools <i class="fa fa-caret-down"></i></a>
        <a href="#">Discord</a>
    </div>
{% endblock %}